.container {
    width: 200px;
}
.statsBars {
    background: #f9f9f9f9;
    border-radius: 16px;
    position: relative;
}
.bar {
    background-color: #E83A23;
    height: 20px;
    border-radius: 16px;
}
.stats {
    display: flex;
    justify-content: space-between;
}
.stats p {
    color: #f9f9f9f9;
    text-transform: capitalize;
}
.stats p:nth-child(2) {
    font-weight: 500;
}