@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Ubuntu';
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: #333;

}
body {
    background-color: #f9f9f9;
}

.main-container {
    min-height: 70vh;
    background-color: #f9f9f9;
    padding: 0 3em;
}