.container {
  display: flex;
}
.container .text_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 2
}

.container .text_container h1 {
  font-size: 2rem;
}

.button {
  background-color: #98C26E;
  padding: 10px;
  border-radius: 0.5rem;
  max-width: 300px;
  color:#f9f9f9;
  text-align: center;
}
.button:hover {
  background-color: hsl(90, 31%, 50%);

}

.container .image_container {}

@media (max-width: 700px)
{
  .container {
    flex-direction: column;
  }
}