.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    margin-bottom: 2em;
    background-color: #f9f9f9;
    color: #333;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h1 {
    margin-left: 0.5em;
  }

  .link_items {
    display: flex;
    list-style: none;
    gap:30px
  }

  .link_items a {
    text-decoration: none;
    padding: 5px;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    border-radius: 1px;

  }

  .link_items a:hover {
    border-color: #e83a23;
  }

  .active {
    border-bottom: 2px solid #e83a23 !important;
  }