.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0px;
}
.container:hover{
    background-color: #ccc;

}
.info_container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.info_container_tipo{
    display: flex;
    gap: 5px;
}

.info_container_nome{
    text-transform: capitalize;
}
